@import "/src/styles/variables.scss";

.contactoContainer{
    .titulo{
        color: $celeste;
        font-weight: bold;
        text-align: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        span{
            padding: 2vh;
            text-align: center;
            width: 75%;
        }
        input, textarea{
            border: 2px solid $celeste;
            width: 30%; 
            margin: 0 auto;
            display: block;
        }
        button{
            border-radius: 0% 30% 0% 30%;
            border: 2px solid $celeste;
            background: $verde;
            font-weight: bold;
            color: $blanco;
            width: 10%;
            margin: 2vh auto;
        }
        #text{
            text-align: center  ;
        }
    }
}